Flask==3.1.0
flask_cors==5.0.1
Flask_JWT_Extended==4.7.1
flask_pymongo==3.0.1
flask_sqlalchemy==3.1.1
huggingface_hub==0.29.3
jieba==0.42.1
langchain==0.3.21
langchain_core==0.3.49
mongoengine==0.29.1
numpy==2.2.4
openai==1.68.2
OpenCC==1.1.9
opencv_python==4.11.0.86
pymongo==4.11.3
PyMySQL==1.1.1
pytest==8.3.5
python_magic==0.4.27
python_pptx==1.0.2
scikit_learn==1.6.1
SQLAlchemy==2.0.38
torch==2.6.0
transformers==4.50.0
Werkzeug==3.1.3
